body {
    /* background-color: white; */
}

#mainpage {
    display: flex;
    flex-direction: row;
    padding: 1%;
    justify-content: space-between;
    align-items: baseline;
}

#heading {
    text-align: center;
}

#twournalContainer {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-evenly;
    padding: 5%;
}

#heading {
    padding: 2%;
}

#indyTwournal {
    display: flex;
    flex-direction: row;
}