#loginForm {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    font-size: large;
    font-family: 'Courier New', Courier, monospace;
}

.btn {
    margin: 2%;
    align-self: center;
}

